docs
.Rproj.user
/.Rproj.user
/.Rproj.user/BAB4038F
/.Rproj.user/BAB4038F/pcs
/.Rproj.user/BAB4038F/pcs
/.Rproj.user/BAB4038F
/.Rproj.user
*.pper
.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/BAB4038F/pcs/windowlayoutstate.pper
.Rproj.user/BAB4038F/pcs/workbench-pane.pper
.Rproj.user/BAB4038F/sources/prop/INDEX
.RData
.Rhistory
/.Rproj.user
/.Rproj.user/BAB4038F
/.Rproj.user/BAB4038F/sources
/.Rproj.user/BAB4038F/sources/prop
.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/BAB4038F/pcs/windowlayoutstate.pper
.Rproj.user/BAB4038F/pcs/workbench-pane.pper
*.pper
.Rproj.user/BAB4038F/pcs/files-pane.pper
.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/BAB4038F/pcs/windowlayoutstate.pper
.Rproj.user/BAB4038F/pcs/workbench-pane.pper
.Rproj.user/BAB4038F/sources/prop/INDEX
*.pper
.RData
.Rhistory
.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/BAB4038F/pcs/windowlayoutstate.pper
/.Rproj.user
*.pper
